body {
    background: rgb(243, 244, 236);
    width: 99%;
    height: 100%;
}

.logo {
    margin-left: 33.3%;
    margin-right: 0%;
    width: 35%;


}

.button {
    margin-left: 50%;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonOk {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonError{
    background-color: #C70039;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonImport{
    background-color: #FFC30F;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.ql-toolbar.ql-snow {
    background-color: #EEEEEE;
}

.tumbnail {

    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 50%;
}

.items p {
    font-size: 25px;
    color: #c68798;
}

.items button {
    margin-left: 2%;
    margin-right: 2%;
    height: 40px;
    width: 96%;
    background-color: #4CAF50;
    border-radius: 8%;
    color: white;
    font-size: 20px;
}

.items {
    display: inline-block;
    width: 250px;
    height: 40%;
    background-color: rgba(136, 198, 135, 0.5);
    border-radius: 5px;
    margin-left: 4%;
    margin-bottom: 5%;
    text-align: center;
}

.items a {
    color: black;
    text-decoration: none;

}

.items a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.itemsdiv {
    margin-left: 25%;
    margin-right: 0%;
    width: 50%;
    height: 100%;
}

.promoitems {
    margin-left: 3%;
    border-radius: 5%;
    width: 20.8%;
    display: inline-block;
    background-color: rgba(136, 198, 135, 0.5);

}

.center {
    margin-left: 10%;
    margin-right: 0%;
    word-wrap: break-word;

    border-radius: 5px;
    width: 80%;
    /*height: 100%;*/
    /*text-align: center ;*/
    font-size: 1.3em;
}

.cen {
    margin-left: 27%;
    margin-right: 0%;
    word-wrap: break-word;
    background-color: rgba(136, 198, 135, 0.5);
    border-radius: 5px;
    width: 50%;
    /*height: 100%;*/
    /*text-align: center ;*/
    font-size: 1.3em;
}

.cen p, .center p {
    color: #303030;
}

.cen > .centerA {
    margin-top: -10%;
    margin-left: 33%;
}

a {
    font-size: 20px;
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.topnav {
    overflow: hidden;
    background-color: rgb(80, 119, 66);

    border-radius: 5px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.right {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 13.5px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: rgb(85, 125, 70);
    color: white;

}

.topnav .icon {
    display: none;
}

.topnav .right {
    margin-right: 0%;
    display: block;/*
    height: 20px;
    width: 15px;*/
}

.topnav .right img {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
    height: 16px;
}


@media screen and (max-width: 600px) {
    body {
        margin-left: 1.5px;
        margin-top: 0px;
    }

    .cen, .center {
        margin-left: 10%;
        margin-right: 0%;
        word-wrap: break-word;
        background-color: rgba(136, 198, 135, 0.5);
        border-radius: 5px;
        width: 80%;
        /*height: 100%;*/
        /*text-align: center ;*/
    }

    .items {
        display: block;
        width: 80%;
        height: 40%;
        background-color: rgba(136, 198, 135, 0.5);
        border-radius: 5px;

        margin-bottom: 5%;
        text-align: center;
    }

    .itemsdiv {
        margin-left: 9%;


        width: 90%;
        height: 100%;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        width: 100%;


    }
}

.foooter {
    height: 10%;
    width: 100%;

}

@media screen and (max-width: 750px) {
    .items {
        display: block;
        width: 80%;
        height: 40%;
        background-color: rgba(136, 198, 135, 0.5);
        border-radius: 5px;
        margin-left: 5%;
        margin-bottom: 5%
    }
}


.query {
    margin-left: 13%;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    font-size: 1em;


}

.query textArea {
    height: 27.5%;
    width: 95%;

}

/*css for each item*/
.pic {
    vertical-align: top;
    height: 250px; /*shits with pic happens here*/
    width: 200px;
    position: relative;
    display: inline-block;
    margin-left: 15%;
    background-color: transparent;

}

.pic img {

    max-width: 100%;
    height: auto;

}

.Info {
    vertical-align: top;
    position: relative;
    margin-left: 3%;
    width: 50%;
    display: inline-block;
    border-radius: 5px;

}

.moreInfo {

    vertical-align: bottom;
    margin-top: 1%;
    margin-left: 15%;
    display: block;
    border-radius: 5px;
    width: 68.5%;
    background-color: rgba(136, 198, 135, 0.5);
    font-size: 20px;
}


@media screen and (max-width: 792px) {
    .pic {
        height: 250px;
        width: 200px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;

    }

    .Info {
        position: relative;
        margin-top: 1%;
        margin-left: 5%;
        display: block;
        width: 90%;
        height: 100%;
    }

    .moreInfo {
        position: relative;
        margin-left: 5%;
        width: 90%;
        height: 300px;
        display: block;
        background-color: rgba(136, 198, 135, 0.5);
        word-wrap: break-word;
    }
}

/*css za tablicata*/
table.itemInfo {
    border: 2px solid #4F7849;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

table.itemInfo td, table.itemInfo th {
    border: 0px solid #4F7849;
}

table.itemInfo tbody td {
    font-size: 18px;
    font-weight: bold;
    color: #4F7849;
    padding: 1.6%;
}

table.itemInfo tr:nth-child(even) {
    background-color: rgba(136, 198, 135, 0.5);
}

table.itemInfo tfoot td {
    font-size: 21px;
}
table.itemInfo thead th{
    font-size: 21px;
    height: 50px;
    color: rgb(80, 119, 66);
}
